
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="@Url.Content("~/Content/jquery.mobile-1.4.5.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.mobile-1.4.5.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.1.2.js")"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>
    <title>EstouNoRaulHC!</title>
</head>
<body>

    <div data-role="page" id="inicial">
        <div data-role="header">
            <h1>RaulHC != empty</h1>
        </div>

        <div data-role="main" class="ui-content">
            <input value="Sim!!!" data-icon="heart" data-theme="a" style="background-color:green"  type="button" />
        </div>

        <div data-role="footer" data-position="fixed">
            <div data-role="navbar" data-iconpos="bottom">
                <ul>
                    <li><a href="#" data-icon="home" class="ui-btn-active">Inicial</a></li>
                    <li><a href="#checkin" data-icon="location">Check-in</a></li>
                    <li><a href="#presentes" data-icon="eye">Presentes</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div data-role="page" id="checkin">
        <div data-role="header">
            <h1>Está no RaulHC?</h1>
        </div>

        <div data-role="main" class="ui-content">
            <label for="text-basic">Meu nome/nick é:</label>
            <input name="text-basic" id="nome-nick" value="" type="text" />
            <input value="Check-in" data-icon="plus" data-theme="a" type="button" />
        </div>

        <div data-role="footer" data-position="fixed">
            <div data-role="navbar" data-iconpos="bottom">
                <ul>
                    <li><a href="#inicial" data-icon="home">Inicial</a></li>
                    <li><a href="#" data-icon="location" class="ui-btn-active">Check-in</a></li>
                    <li><a href="#presentes" data-icon="eye">Presentes</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div data-role="page" id="presentes">
        <div data-role="header">
            <h1>Presentes</h1>
        </div>

        <ul data-role="listview"></ul>

        <div data-role="footer">
            <h1>EstouNoRaulHC!</h1>
        </div>
        <div data-role="footer" data-position="fixed">
            <div data-role="navbar" data-iconpos="bottom">
                <ul>
                    <li><a href="#inicial" data-icon="home">Inicial</a></li>
                    <li><a href="#checkin" data-icon="location">Check-in</a></li>
                    <li><a href="#" data-icon="eye" class="ui-btn-active">Presentes</a></li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){

            $("#inicial").on("swipeleft", function () {
                $.mobile.changePage("#checkin");
            });

            $("#checkin").on("swipeleft", function () {
                $.mobile.changePage("#presentes");
            });

            $("#checkin").on("swiperight", function () {
                $.mobile.changePage("#inicial");
            });

            $("#presentes").on("swiperight", function () {
                $.mobile.changePage("#checkin");
            });

            var pessoasIO = $.connection.pessoasIO;

            pessoasIO.client.listarPessoas = function (pessoas) {

                preencherLista(pessoas);

            };

            $.connection.hub.start().done(function () {

                $("input[value='Check-in']").on("tap", function () {

                    var nick = $("#nome-nick").val();
                    
                    if (nick != null && nick != "") {

                        pessoasIO.server.checkIn(nick, getDateTime());

                        guardarNick(nick);

                        $.mobile.changePage("#presentes");

                        $("#nome-nick").val(null);
                    }

                });

                $("ul[data-role='listview']").on("tap", "li[data-icon='delete']", function () {

                    $(this).detach();

                    $('ul[data-role="listview"]').listview('refresh');

                    pessoasIO.server.checkOut(localStorage.getItem("nick"));

                    localStorage.removeItem("nick");

                });

                pessoasIO.server.obterPessoasNoRaul();

            });

        });

        function preencherLista(pessoas) {

            var pessoasJSON = JSON.parse(pessoas);

            var listaDePresentes = $('ul[data-role="listview"]');
            listaDePresentes.empty();

            var nick = localStorage.getItem("nick");
            var item = "";

            for (var i = 0; i < pessoasJSON.length; i++) {

                if (nick != pessoasJSON[i].Nome)
                    {
                    item = '<li><strong>' + pessoasJSON[i].Nome
                    + '</strong> | Chegou as: ' + pessoasJSON[i].QuandoChegou + '</li>';
                }
                else {
                    item = '<li data-icon="delete"><a href="#"><strong>' + pessoasJSON[i].Nome
                    + '</strong> | Chegou as: ' + pessoasJSON[i].QuandoChegou + '</a></li>';
                }

                listaDePresentes.append(item);

            }

            listaDePresentes.listview('refresh');

        }

        function guardarNick(nick) {

            if (typeof (Storage) !== "undefined") {

                localStorage.setItem("nick", nick);

            } else {

                alert("Seu navegador não dá suporte a Local Storage");

            }
        }

        function getDateTime(){
            var d = new Date();
            var n = d.getDate();
            n += "/" + (d.getMonth() + 1);
            n += "/" + d.getFullYear();
            n += " " + d.getHours();
            n += ":" + d.getMinutes();
    
            return n;
        }
    </script>

</body>
</html>
